.moto-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  background-color: rgb(15, 15, 15);
}

.moto-list__item {
  display: flex;
  width: 95%;
  height: auto;
  max-width: 1024px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.moto-list__img {
  width: 100%;
  height: auto;
}

.moto-list__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  width: auto;
  height: 100%;
  padding: 30px;
  z-index: 1;
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: white;
  box-sizing: border-box;
}

.detail-name {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.detail-price {
  font-size: 20px;
}

@media (max-width: 768px) {
  .detail-name {
    font-size: 20px;
  }
  .detail-price {
    font-size: 16px;
  }
}

/* home.css */

/* ... outros estilos ... */

.btn-primary-link {
  display: inline-block; /* Comporta-se como um elemento inline, mas com propriedades de bloco */
  padding: 10px 15px; /* Ajuste o padding conforme necessário */
  font-size: 16px; /* Ajuste o tamanho da fonte */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: white; /* Cor do texto */
  background-color: #007bff; /* Cor de fundo do botão (exemplo: azul primário) */
  border: 1px solid #007bff; /* Borda do botão */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Indica que é clicável */
  transition: background-color 0.3s ease; /* Transição suave para o hover */
}

.btn-primary-link:hover {
  background-color: #0056b3; /* Cor de fundo no hover */
  border-color: #0056b3;
}
